<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bogart Asthma Watch</title>

    ​<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    

    {% load static %}
    <link rel="stylesheet" href="{% static 'asthmawatch.css' %}">
</head>
<body>

    <div class="wrapper">
        <h4>Asthma Watch</h4>

        <div class="tab">
            <button class="tablinks" onclick="showPage(event, 'data_view')" id="defaultOpen">Data View</button>
            <button class="tablinks" onclick="showPage(event, 'data_entry')">New Log Entry</button>
        </div>

        <div id="data_view" class="tabcontent">
            <h3>Data View</h3>
            <p>Viewing history of medication and symptoms of feline asthma.</p>
            
            <div>
                <canvas id="aggregate-chart"></canvas>
            </div>
            <div>
                <ol>
                {% for attack in attacks %}
                    <li>Attack {{ attack.id }}: {{ attack.date_time }} ({{ attack.duration }}, {{ attack.severity }})</li>
                {% endfor %}
                </ol>
            </div>
        </div>

        <div id="data_entry" class="tabcontent">


                <h3>Log Attack</h3>
                <p>Log a new attack. </p> 
                <form action="{% url 'add_attack' %}" method="POST">{% csrf_token %}
                    {{ attack_form.as_p }}
                    <input type="submit" value="Log Attack">
                </form>            
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <script src="//cdn.bootcss.com/jquery/3.0.0/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <!-- must be after jquery load -->
    <script src="{% static 'tabs.js' %}"></script>
</body>
</html>